_ReSharper.logviewer/
.idea/
*.obj
*.suo
*.sdf
*.opensdf
*.pdb
*.log
*.DotSettings.user
*.sln.DotSettings
*.tokens
*.vcxproj.user
*.user
.sonar
*.psess
*.vsp
*.sln.iml
Debug/
Release/
logviewer.server/bin/
dist/
packages/
!lib/Debug/
!lib/Release/
!lib/x64/Debug/
!lib/x64/Release/
logviewer.core/x86/
logviewer.core/x64/