_ReSharper.logviewer/
.idea/
*.obj
*.suo
*.sdf
*.opensdf
*.pdb
*.log
*.DotSettings.user
*.tokens
*.vcxproj.user
Debug/
Release/
dist/
packages/
!lib/Debug/
!lib/Release/
!lib/x64/Debug/
!lib/x64/Release/