<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn" internalLogToConsole="true">
    <variable name="messageHead" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:upperCase=True} ${logger} ${message}" />
    <variable name="baseFormat" value="${messageHead}${newline}${onexception:${exception:format=ToString}}" />
    <variable name="logFilePath" value="${specialfolder:folder=CommonApplicationData}\Logviewer\Logs\logviewer.log" />
    <targets async="true">
      <target name="logFile" xsi:type="File" layout="${baseFormat}" fileName="${logFilePath}" encoding="UTF-8" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logFile">
          <filters>
             <when condition="equals('${logger}','System.Net')" action="Ignore"/>
         </filters>
      </logger>
    </rules>
</nlog>
