<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
        <add key="LOGENTRIES_TOKEN" value="1412eccc-1544-484c-9fbe-9deff564a360" />
        <add key="SettingsDatabase" value="LogviewerSettings.db" />
        <add key="GitHubAccount" value="aegoroff" />
        <add key="GitHubProject" value="logviewer" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.98.0" newVersion="1.0.98.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
