<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="StartMessagePattern" value="^\[?\d{4}-\d{2}-\d{2}\s+\d{2}:\d{2}:\d{2}([,.]\d{3,})?.*" />
        <add key="TraceMarker" value="TRACE|\[[Tt]race\]" />
        <add key="DebugMarker" value="DEBUG|\[[Dd]ebug\]" />
        <add key="InfoMarker" value="INFO|\[[Ii]nfo\]" />
        <add key="WarnMarker" value="WARN|\[[Ww]arn\]" />
        <add key="ErrorMarker" value="ERROR|\[[Ee]rror\]" />
        <add key="FatalMarker" value="FATAL|\[[Ff]atal\]" />
        <add key="SettingsDatabase" value="LogviewerSettings.db" />
    </appSettings>
</configuration>
