<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.3.0" targetFramework="net45" />
  <package id="Antlr4.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="Octokit" version="0.5.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.94.0" targetFramework="net45" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net45" />
</packages>